In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# comparing Pilatus and Eiger Ni 25 µm frames against each other

The data has pre-processed by Lennard Krause into HKL files.

Please follow this rabbit hole:  SADABS 2016/2: Krause, L., Herbst-Irmer, R., Sheldrick G.M. & Stalke D.,
 J. Appl. Cryst. 48 (2015) 3-10

In [50]:
def read_hkl(path: str, skipfooter: int = 300) -> pd.core.frame.DataFrame:
    """
     read a path .hkl file and return as a Pandas dataframe
    """
    df = pd.read_csv(path,
                     engine='python',
                     header=None,
                     delim_whitespace=True,
                     names=['h', 'k', 'l', 'intensity', 'd', 'doom'], # I don't know exactly what the last field is
                     dtype={'h': int, 'k': int, 'l': int, 'intensity': float, 'd': float, 'doom': int},
                     skipfooter=skipfooter
                    )
    return df

In [54]:
# Ni 25 µm foils
eiger_ni25 = read_hkl('0347.hkl', skipfooter=833)
pilatus_ni25 = read_hkl('0376.hkl', skipfooter=650)

In [55]:
# sanity check
pilatus_ni25

    h  k  l   intensity        d  doom
0   2  0  0  1961.08000  3.33450     1
1   3  0  0     0.10085  0.06096     1
2   3  0  0     0.11120  0.06592     1
3   4  0  0   481.63100  2.31635     1
4   4  0  0   462.07200  2.15793     1
5   6  0  0  2006.05000  5.29129     1
6   6  0  0  2086.72000  5.63986     1
7   0  1  0     2.18844  0.05829     1
8   1  1  0    15.08260  0.17504     1
9  -1  1  0    15.40700  0.26213     1
10  1 -1  0    17.95210  0.26605     1
11  1 -1  0    13.56750  0.25096     1
12  1  1  0    16.09710  0.17449     1
13  2  1  0  2040.20000  3.22546     1
14 -3  1  0  6352.05000  8.19814     1
15  5  1  0   506.19400  2.36123     1
16  5  1  0   498.97100  2.43031     1
17  5 -1  0   477.37000  2.57628     1
18  6  1  0   937.80000  3.43750     1
19  6  1  0   813.98900  3.29244     1
20  0  2  0    13.74600  0.18156     1
21  0  2  0    13.76470  0.17643     1
22 -1  2  0  5291.43000  5.26671     1
23 -2  2  0  2089.78000  4.15096     1
24 -2  2  0  2097.00000  4.18523     1
25 -3  2  0  1353.45000  3.87801     1
26  3  2  0  1327.09000  2.78405     1
27  3  2  0  1284.75000  2.81124     1
28  3 -2  0  1163.48000  3.54961     1
29 -3  2  0  1336.57000  3.92354     1
30  3 -2  0  1249.42000  3.65926     1